# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springbootAngularUploadImage\boot-image-upload\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
